<!DOCTYPE html>
<html lang="en">

<head>
  <title>Makaton Translator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <form id="english-display" method="POST" data-language="english" data-username="{{ englishSpeaker.username }}">
    <a href="#makaton-display">Back</a>
    <div id="makaton-card-translation"></div>
    <div id="makaton-words-translation"></div>
    <label>
      <span>Reply</span>
      <textarea name="english"></textarea>
    </label>
    <button>Reply</button>
  </form>
  <form id="makaton-display" method="POST" data-language="makaton" data-username="{{ makatonUser.username }}">
    <div id="makaton-image-container"></div>
    <div id="makaton-user-translation-actions">
      <button id="remove-last-card">Undo</button>
      <button id="translate-to-english">Translate</button>
    </div>
    <section>
      <h2>Card Categories</h2>
      <span>Choose type</span>
      <ul id="makaton-card-categories">
        <li data-category="Meals">
          <figure>
            <img src="/i.jpg" alt="some text">
            <figcaption>some text</figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <section>
      <h2>Cards</h2>
      <span>Choose cards</span>
      <ul data-category="Meals">
        <li>
          <img src="/i.jpg" alt="some text">
        </li>
      </ul>
    </section>
  </form>
</body>

</html>
