@import 'skeleton/normalize.scss';
@import 'skeleton/skeleton.scss';
body {
  padding: 50px;
  font: 14px "Ubuntu", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-details{
  line-height: 6rem;
  vertical-align: middle;
  text-align: right;
}

form {
  &[data-language="english"] button::after {
    content: " >>"
  }
  &[data-direction="makaton"] button::before {
    content: "<< "
  }
  label>span {
    display: block;
    margin-bottom: 1em;
  }
  textarea,
  button,
  .makaton {
    width: 100%;
  }
  #makaton {
    width: 100%;
    margin-bottom: 19px;
  }
  textarea[name="words"],
  #makaton {
    min-height: 10em;
    border: 1px solid #bbb;
    border-radius: 4px;
    
    &:hover,
    &:active {
      border-color: #000;
    }

    img {
      display: inline-block;
      margin: 0.25em;
      border: 1px solid #bbb;
      border-radius: 4px;
      width: 25%;
    }
  }
  textarea {
    resize: vertical;
  }
  textarea[name="cards"] {
    display: none;
  }
}
